.noteContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.noteContainer__content {
    display: flex;
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
}

.noteContainer__title {
    font-size: 48px;
    font-weight: 600;
    line-height: 59px;
}

