.option {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    color: var(--dark-color);
    border-radius: 50px;
    background: rgb(245, 204, 0);
    border: none;
    padding: 4px 16px;
    cursor: pointer;
    width: max-content;
}

.option_toggle {
    color: #726969;
}

.option_text {
    padding: 0;
    background: none;
    cursor: auto;
}