.icon {
    font-size: 20px;
    font-weight: 700;
    line-height: 29px;
    text-decoration: none;
    color: var(--dark-color);
    position: relative;
}

.icon::before {
    content: '';
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: var(--dark-color);
    transition: width 0.2s ease-in-out;
}

.icon:hover::before {
    width: 100%;
}