.editor {
    width: 100%;
    height: 100%;
}

.editor__wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.editor__header {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.editor__subtitle {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    color: var(--grey-color);
}

.editor__name {
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    color: var(--dark-color);
}

.editor__options {
    display: flex;
    flex-direction: row;
    gap: 88px;
}

.editor__optionsNames {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.editor__optionName {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    color: var(--grey-color);
}

.editor__optionsValues {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}