.noteCard {
    display: grid;
    height: 260px;
    grid-template-columns: 80% 20%;
    border-radius: 20px;
    padding: 28px;
    transition: transform 0.2s;
    cursor: pointer;
}

.noteCard_selected {
    transform: scale(1.05);
}

.noteCard__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.noteCard__text {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}

.noteCard__btns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.noteCard__btn {
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-color);
    cursor: pointer;
    svg {
        width: 14px;
        height: 14px;
        user-select: none;
        transition: all 0.2s;
        color: var(--light-color);
    }
}

.noteCard__btn:hover {
    svg {
        transform: scale(1.1);
    }
}

.noteCard__btn_changing {
    svg {
        animation: rotateImg 0.4s ease-in-out forwards;
    }
}

.noteCard__btn_favorite {
    svg {
        color: var(--yellow-color);
    }
}

@keyframes rotateImg {
    from {
        transform: scale(1) ;
    }
    50% {
        transform: scale(1.4);
    }
    to {
        transform: scale(1) ;
    }
}

